# Junk
**/__*__
**/venv
**/.vscode
**/.idea
**/*.sh
**/.pytest_cache
**/.mypy*
**/*.bak
**/*.dat
**/*.dir

# Admin's folder
**/admin/

# Docker related
**/*docker*
**/*Docker*

# Version control related
**/*git*
**/*pre-commit-config*
